<hr />
<h4>Orders for @Model.Name</h4>

@if (Model.Orders != null && Model.Orders.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.OrderDate.ToShortDateString()</td>
                    <td>
                        <ul>
                            @foreach (var item in order.OrderItems)
                            {
                                <li>@item.Product.Name × @item.Quantity</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>This customer has no orders.</em></p>
}
